<div class="container">
        <h2>Login</h2>
        <form>
            <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="col-sm-6">
            <button type="submit" class="btn btn-primary btn-sm">Login!</button>
            <button type="link" class="btn btn-link">Sign-up instead</button>
            </div>
        </form>
    </div>

    <div class="container">
        <h2>Sign-up</h2>
        <form>
            <div class="mb-3">
            <label for="newEmail" class="form-label">Email address</label>
            <input type="email" class="form-control" id="newEmail" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
            <label for="newPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="NewPassword">
            </div>
            <div class="col-sm-6">
                <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                <button type="link" class="btn btn-link">Login instead</button>
                </div>
        </form>
    </div>

<script src="./js/login.js"></script>